@use 'styles' as global-styles;

.services {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  padding: 2rem;

  background-color: global-styles.$light-background-primary;

  @media (prefers-color-scheme: dark) {
    background-color: global-styles.$dark-background-primary;
  }
}

.services-title {
  text-align: center;
  color: global-styles.$light-text-primary;
  font-family: global-styles.$font-family-primary;
  font-size: 2rem;
  margin-bottom: 1rem;

  @media (prefers-color-scheme: dark) {
    color: global-styles.$dark-text-primary;
  }
}


.services-description {
  font-family: global-styles.$font-family-secondary;
  font-size: 1rem;
  margin: 0.5rem 0;
  color: global-styles.$light-text-secondary;
  @media (prefers-color-scheme: dark) {
    color: global-styles.$dark-text-secondary;
  }

  strong {
    color: global-styles.$light-gold;

    @media (prefers-color-scheme: dark) {
      color: global-styles.$dark-gold;
    }
  }

  a {
    color: global-styles.$light-text-secondary;
    text-decoration: underline;

    @media (prefers-color-scheme: dark) {
      color: global-styles.$dark-text-secondary;
    }
  }
}
